body {
  text-align: justify;
  max-width: 500px;
  margin: auto;
}
table {
  border: 3px outset gray;
  border-width: 3px white;
}

td {
  border: 1px inset grey;
  background-color: rgb(0,200,248);
  padding: 0px 5px 0px 5px;
}

td p {
  display: inline;
}

.bottom-buttons {
  padding: 14px 40px;
  position: relative;
  font-size: 10pt;
  margin: 1px;
  
}
.table-header {
  background-color: yellow;
  font-size:  20pt;
  color: red;
  text-align: center;
}
.sports{
  text-align: justify;
  

  
}
.gender{
  text-align: justify;
}
